@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 100%;
    object-fit: cover;
}

/* Header */

header{
    padding: 30px 10%;
    background-color: #22222290;
}


header nav ul{
    display: flex;
    position: relative;
    gap: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
}



.logo_container{
    position: relative;
}

header .logo{
    position: absolute;
    top: 0;
    left: 0;
}

header .empty{
    opacity: 0;
}
header nav ul a img{
    height: 100%;
}


