article.hero{
    width: 100%;
    height: 80vh;
    background-image: url('../img/clinique.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 30px 5%;
}

article.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #577893;
    opacity: 0.8;
}

article.hero section{
    position: relative;
    z-index: 10;
    width: 50%;
}

.hero_text{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_text h1{
    font-size: 2em;
    font-weight: bold;
}

.hero_text h1 span{
    color: orange;
}

.hero_text a{
    color: white;
    padding: 13px 36px;
    background-color: orange;
    width: fit-content;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero_text a i{
    background-color: white;
    color: orange;
    padding: 5px;
    border-radius: 50%;
}

article.services{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    padding: 100px 5%;
}

.first_service{
    align-items: baseline !important;
    color: #d2d2d2;
}

/* Valeurs de l'agence */

article.services {
    background-color: #222;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    padding: 100px 5%;
}

.first_service {
    align-items: baseline !important;
}

article.services:nth-child(odd) {
    background-color: #f5f5f5;
    flex-direction: row-reverse;
}

.services_img {
    width: 40%;
}

.services_img h1 {
    font-size: 1.5rem;
    color: #bb62dc;
    text-align: right;
    width: 100%;
}

.services_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.services_text h1 {
    font-size: 1.5rem;
    color: #2e5c81;
    width: 100%;
}

.services_text a {
    color: orange;
    text-decoration: underline;
}


/* Les services */

.les_services{
    width: 90%;
    margin: auto;
    background-color: #f5f5f5;
    padding: 60px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0px 0px 15px 2px #707070;
    margin-bottom: 40px;
}

.section_services{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service_cellule{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #222;
    padding: 30px;
    border-radius: 15px;
    color: white;
    transition: 0.2s ease-in-out;
}

.service_cellule h1{
    color: orange;
}

.service_cellule p{
    font-size: 1rem;
}
.celluleIcone{
    background-color: orange;
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50%;
}


.service_cellule:hover .celluleIcone{
    background-color: white;
    color: orange;
    transition: 0.2s ease;
}


.service_cellule:hover{
    transform: scale(1.05);
}

/* Parlons */

.parlons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 100px 10%;
    background-color: black;
    color: white;
    text-align: center;
}

.parlons h1{
    color: orange;
}


.parlons a{
    background-color: orange;
    color: white;
    padding: 13px 36px;
    border-radius: 10px;
}



@media (max-width:1024px) {
    .service_cellule{
        width: 48%;
    }
}


@media (max-width:800px) {

    article .hero_img {
        display: none;
    }

    article.hero .hero_text {
        width: 100%;
        gap: 30px;
    }

    article.services{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .services_img, .services_text{
        width: 100%;
    }
    .services_img h1{
        text-align: center;
    }
}


@media (max-width:625px) {

    .service_cellule {
        width: 100%;
    }
}

@media (max-width:500px) {

    .hero_text h1 {
        font-size: 1.5rem;
    }
}
