@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    background-color: #222;
}

img{
    width: 100%;
    object-fit: cover;
}

/* Header */

header{
    padding: 0 5%;
    background-color: #22222290;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
}

.DarkerHeader{
    background-color: #222;
}
header nav ul{
    display: flex;
    position: relative;
    gap: 5px;
    width: 100%;
    justify-content: center;
    align-items: center;
}




header nav ul a{
    padding: 8px 16px;
    transition: 0.3s ease;
    color: #d2d2d2;
}


header nav ul a:hover{
    color: #bb62dc;
}

header .current{
    color: #bb62dc;
    font-weight: bold;
}

header nav ul .contactNav a{
    background-color: #733988;
    border-radius: 5px;
    color: white;
    transition: 0.2s ease-in-out;
}

header nav ul .contactNav a:hover{
    filter: brightness(1.3);
}

.logo{
    width: 150px;
}


header .fa-solid, .fa-bars, .hambugerMenu, .hambugerMenu::before{
    display: none;
    font-size: 2rem;
}

.otherNav{
    display: none;
}

@media (max-width:800px) {

    /* Nav */

    header .fa-solid,
        .fa-bars,
        .hambugerMenu,
        .hambugerMenu::before {
        display: block;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    .pcNav {
        display: none;
    }

    .otherNav {
        position: absolute;
        top: 10vh;
        background-color: #222;
        left: 0;
        width: 100%;
        display: none;
        transition: 0.4s ease-in-out;
        opacity: 0;
    }

    .navAppear {
        display: flex;
        z-index: 99;
        animation: fadeIn 0.15s ease-in-out forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .otherNav ul {
        flex-direction: column;
    }

    .otherNav ul li {
        padding: 40px 0;
    }

    .otherNav ul li a {
        font-size: 1.6rem;
    }

    .otherNav ul li.contactNav a {
        background-color: transparent;
        color: #d2d2d2;
    }

    .otherNav ul li.contactNav {
        filter: brightness(1);
    }
}



/* Footer */

footer {
    background-color: black;
    border-top: 2px solid #222;
    color: white;
    padding: 10px 5%;
}

footer section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

footer ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer ul i {
    font-size: 1.2rem;
    color: white;
}

@media (max-width:610px) {
    footer section {
        gap: 20px;
            flex-direction: column-reverse;
        }
}


/* Banner */


.heroServices {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/clinique.jpg');
    background-size: cover;
    position: relative;
    padding: 20vh 0;
}

.heroServices h1 {
    position: relative;
    z-index: 10;
    color: white;
}

.heroServices::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: orange;
    opacity: 0.85;
}

.heroServices h1 {
    font-size: 3rem;
}